<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock_Server</title>
    <style>
        div{
            margin-left:50px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<form action="http://127.0.0.1:8000/mock" method="post">
<div>
    <span>url：</span>
    <input type="text" name="url">
</div>
<div>
    <span>data：</span>
    <textarea name="data" id="" cols="30" rows="10"></textarea>
</div>
<div>
    <input type="submit" value="提交">
</div>
</form>
</body>
</html>